<p id="notice"><%= notice %></p>
<%= column_chart RandNum.group(:value).count %>

<h1>Rand Nums</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rand_nums.each do |rand_num| %>
      <tr>
        <td class="show" data-rand_id="<%= rand_num.id %>"><%= rand_num.value %></td>
        <td><input id="rands-<%= rand_num.id %>" style="display:none;" type="number" value="<%= rand_num.value %>"></td>
      </tr>
      <% end %>
  </tbody>
</table>
<br>
<div>
</div>
<br>


<script type="text/javascript">

</script>



<!-- The Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rand Nums</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>