<p id="notice"><%= notice %></p>

<h1>Rand Nums</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rand_nums.each do |rand_num| %>
      <tr>
        <td><%= rand_num.value %></td>
        <td><%= link_to 'Show', rand_num %></td>
        <td><%= link_to 'Edit', edit_rand_num_path(rand_num) %></td>
        <td><%= link_to 'Destroy', rand_num, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rand Num', new_rand_num_path %>
